<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company list</title>
</head>
<body>
    <h1>Company list</h1>
    <ul>
        {% for company_e in companies %}
        <li>
            <a href="{% url 'resource_infor:employees_by_company' company_e.company_name %}">{{company_e.company_name}}</a>
        </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'resource_infor:company_json' %}">All company in JSON format</a> <br>
        <a href="{% url 'resource_infor:employees_json' %}">All employees in JSON format</a
    </p>
</body>
</html>